@import "partials/_colors.scss";
.container{
    width: 100%;
    height: 1400px;
    background-image: url("../Css/Images/jeremythomasspace.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 2em;
    font-family: 'Noto Serif', serif;
}
p{
    font-size: 1.2em;
    font-family: 'Noto Serif', serif;
}
nav{
    width: 100%;
    height: 50px;
    background-color:$primary_color;
    animation-name: fadeInDown;
    animation-duration: 1s;
    }

    
.first{
    width: 1000px;
    height: 500px;
    text-align: center;
    display: inline-block;
    background-color:$secondary_color;
    animation-name: jackInTheBox;
    animation-duration: 1s;
   
}

article{
    width: 500px;
    height: 150px;
    text-align: center;
    display: inline-block;
    background-color:$secondary_color;
    animation-name: jackInTheBox;
    animation-duration: 1s;
   
}
.third{
  width: 200px;
  height: 300px;
  text-align: start;
  display: flex;
  background-color: $primary_color;
  }
  .cycle-slideshow{
    text-align: center;
    justify-content: flex-end;
    display: inline-block;
  }
  .section{
    width: 1000px;
    height: 600px;
    background-color: $secondary_color;
    text-align: center;
    display: inline-block;
    margin-block-end: 200px;
    animation-name: jackInTheBox;
    animation-duration: 1s;
  }
  body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
 
@keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .jackInTheBox {
    -webkit-animation-name: jackInTheBox;
    animation-name: jackInTheBox;
  }
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }